body {
   padding-left: 16px;
   padding-right: 16px;
}

.top {
   background-color: #1f2937;
}

.content {
    padding-top: 64px;
    display: flex;
    gap: 196px;
    margin-left: 48px;
    padding-bottom: 48px;
}

.texts {
    align-items: flex-start;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    align-self: flex-end;
    display: flex;
    margin: 18px;
    padding-right: 80px;
    gap: 16px;
}

#header-logo {
    align-self: flex-start;
    padding: 8px;
    margin-left: 20px;
    border-radius: 50%;
    height: 72px;
    width: auto;
}

#panda {
    align-self: flex-end;
    padding-top: 50px;
}

.but {
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    color: #e5e7eb;
    font-weight: 400;
}